@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Contact us</h1>
<h3>Get in Touch with Us!</h3>
<p>Have a question, feedback, or just want to pre-order your favorite Misal-Pav? Drop us a line, give us a call, or step right into our cafe. We’d love to hear from you!</p>

<h3>📍 Visit Our Cafe</h3>
<ul>
    <li><b>Address:</b> 123, Deccan Gymkhana, Near Fergusson College Road, Pune, Maharashtra - 411004.</li>
    <li><b>Landmark:</b> Opposite the old walking techdi path.</li>
</ul>

<h3>📞 Call Us</h3>
<p><b>Phone:</b> +91 98765 43210 / 020-2567890</p>

<h3>✉️ Email Us</h3>
<ul>
    <li>
        General Inquiries: hello@punericafename.com
    </li>
    <li>
        Events & Catering: events@punericafename.com
    </li>
</ul>
<h3>🕒 Our Hours</h3>
<p><b>Monday – Sunday:</b> 7:00 AM – 11:00 PM</p>