@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        color: #5D1C34;
        font-family: 'Brush Script MT', cursive;
        text-align: center;
        margin-top: 20px;
    }
        h4 {
            color: #223030;
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin-bottom: 20px;
        }

        h2{
        color: #5D1C34;
        font-family: 'Arial', sans-serif;
        margin-top: 30px;
        }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
</style>
<h1>WELCOME TO FRIENDS CAFE</h1>
<h4>Where good coffee meets great company. Grab a couch and stay a while!</h4>

<h2>Todays Offer</h2>
<img class="container" src="~/images/20%f.jpg" />
<h2>Cafe Interior</h2>
<div class="container">
    <img style="width:100%" src="~/images/interior 1.webp" />
    <img style="width:100%" src="~/images/int2.jpg" />
    <img style="width:100%" src="~/images/int3.jpg" />
    <img style="width:100%" src="~/images/int4.jpg" />
</div>